body {
    background-color:  #87cefa;
}

#conteudo {
    background: #FFFFFF;
    padding: 10px;
    width: 900px;
    margin: 30px auto;
}

.caixa{
    background: #ff6347;
    margin: 10px;
    width: 120px;
    height: 120px;
    color: #000000;
}

#relativo{
    position: absolute;
    left: 50px;
}

#absoluto{
    position: absolute;
    left: 50px;
}

#fixo{
    position: fixed;
    left: 200px;
    top: 0px;
}