
/* Normalize.css - It makes browsers render all elements more consistently and in line with modern standards */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, sans-serif;
}
